{% extends "base.html" %}

{% block content %}
    <div class="pb-5">
        <h1>Список статей</h1>
        <a class="btn btn-outline-success" href="{% url 'article_create' %}">Добавить статью</a>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} d-flex align-items-center">
                {{ message|escape }}
            </div>
        {% endfor %}
    {% endif %}

    {% for article in articles %}
        <h3><a href="{% url 'article_show' article.id %}" class="link-offset-2 link-underline link-underline-opacity-0">{{ article.name }}</a></h3>
        <div>{{ article.body|slice:":200" }}</div>
        <div class="d-inline-flex gap-3">
            <small><a class="btn btn-link link-success" href="{% url 'article_update' id=article.id %}">Редактировать</a></small>
            <form action="{% url 'article_delete' id=article.id %}" method="post">
                {% csrf_token %}
                <input type="submit" class="btn btn-link link-danger mb-3" value="Удалить">
            </form>
        </div>
    {% endfor %}
{% endblock %}